.profile-pic {
  max-width: 200px;
  border-radius: 50%;
  display: block;
  margin: 20px auto;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.project-img {
  max-width: 100%;
  border-radius: 12px;
  margin-bottom: 20px;
}
body {
  font-family: 'Segoe UI', sans-serif;
  background: #f2f2f2;
  margin: 0;
  padding: 0;
  color: #333;
}

header {
  background: #0066cc;
  color: white;
  padding: 40px;
  text-align: center;
}
header h1 {
  font-size: 2.5em;
  margin: 0;
}
nav {
  margin-top: 20px;
}
nav a {
  color: #ffd700;
  text-decoration: none;
  margin: 0 15px;
  font-weight: bold;
}
nav a:hover {
  text-decoration: underline;
}


section {
  padding: 30px 20px;
  background: white;
  margin: 20px auto;
  max-width: 800px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

h1, h2 {
  color: #004080;
}

ul {
  padding-left: 20px;
}

footer {
  text-align: center;
  padding: 20px;
  background: #004080;
  color: white;
}

    
